<partial name="/Views/Shared/_LinkListPartial.cshtml" />
<link rel="stylesheet" type="text/css" href="~/css/custom.css">
<h1>Add Event</h1>

<form method="post">
    <input name="name" type="text" />
    <input type="submit" value="Add Event" />
</form>